@page
@model IndexModel
@{
    ViewData["Title"] = "Events page";
}

<h4>Events</h4>
<hr />
@*<p>
    <a asp-page="/Products/Create">Create New</a>
</p>*@
@{
    TimeZoneInfo cstZone = TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time");
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Date</th>
            <th scope="col">TeacherID</th>
            <th scope="col">SubjectID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schevent in Model.Events)
        {
            <tr>
                    <th scope="row">@schevent.Title</th>
                <td>@schevent.StartTime</td>
                <td>@schevent.EndTime</td>
                <td>@schevent.Date</td>
                <td>@schevent.TeacherID</td>
                <td>@schevent.SubjectID</td>
@*                <td><input type="checkbox" checked=@product.Obsolete disabled></td>
                @{
                    var modifiedDateTime = product.ModifiedDate > DateTime.MinValue ? TimeZoneInfo.ConvertTimeFromUtc(product.ModifiedDate, cstZone).ToString("dd.MM.yyyy HH:mm:ss") : "N/A";
                }
                <td>@modifiedDateTime</td>
                <td>
                    <a class="btn btn-primary" asp-page="/Products/Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="/Products/Delete" asp-route-id="@product.Id">Delete</a>
                </td>
*@            </tr>
        }
    </tbody>
</table>